<!--  
    //  Буква А  //  
-->
  



    <div class="col-md-4">
        <div class="letter">А</div>
        Агат<br><br>
        <img width="300px" src="/img/com/a.jpg">
    </div>

    <div class="col-md-6 text-item">
        «Ага́т» — первый советский серийный универсальный 8-разрядный персональный компьютер, ориентированный для применения в народном образовании. 
        Разработан в 1981—1983 гг. в Научно-исследовательском институте вычислительных комплексов (НИИВК) на базе компьютера Apple II.
        Главный конструктор — Анатолий Фёдорович Иоффе.<br><br>

        Производился серийно с 1984 года на предприятиях Министерства радиопромышленности (Минрадиопрома). 
        Первым освоил производство Лианозовский электромеханический завод (ЛЭМЗ, ПО «Утёс»), впоследствии производство развернули Волжский завод электронно-вычислительной 
        техники (ЭВТ), Ковылкинский электромеханический завод (Мордовия) (КЭМЗ) и Загорский электромеханический завод (ЗЭМЗ, ПО «Звезда»), Минское НПО «Агат» (БССР), 
        Костромской Электромеханический завод (КЭМЗ).<br><br>

        Серийное производство Агатов осуществлялось вплоть до 1993 года. 
        Последним, по всей видимости, производство прекратил ЗЭМЗ: сборка прекращена в конце 1993 года, упаковка и отпуск готовых ПЭВМ — в 1994-м. 
        По различным сообщениям в некоторых школах использование Агатов в учебном процессе продолжалось по меньшей мере до 2001 года.<br><br>

        <ul>
            <li>Тип: учебный компьютер</li>
            <li>Серийный выпуск: 1984—1993 гг</li>
            <li>Процессор: 8-разрядный, 6502. Тактовая частота 1 МГц.</li>
            <li>Память: ПЗУ 2 КБ, ОЗУ 64—128 КБ для серийных изделий.</li>
            <li>ОС: вариации Apple DOS 3.3 (США).</li>
        </ul>

    </div>
    
</div>
