body {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.text-item{
    margin-top: 20px; 
    text-align: justify;
    font-size: medium;
}

.letter{
    font-family: Giger;
    font-size: 60pt;
}

.carousel .item{
    height: 1000px !important;
    background-color: white !important;
}