<!DOCTYPE html>
<html>
<head>

    <base href="/" />

    <title>{% block pageTitle %}{% endblock %} | Азбука грамотности</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />

    <link href="/vendor/twitter/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="/vendor/twitter/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="/css/simple-sidebar.css" rel="stylesheet" />
    <link href="/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="/css/main.css" rel="stylesheet" />
    <link href="/css/carousel.css" rel="stylesheet" />
    <link href="/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <script src="/js/jquery.js"></script>
    <script src="/js/html5shiv.js"></script>
    <script src="/vendor/twitter/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/js/bootbox.min.js"></script>
    <script src="/js/smallscreen.js"></script>
    <script src="/js/menu.js"></script>
    
    {% if currentPage != 'badscreen' %}  
        <script>
            if(screen.width < 1280 && screen.height < 1024){
                window.location = "badscreen";
            }
        </script>
    {% endif %}

    {% if session.isAuth %}
        <script>

            var adminData = {
                currentPage : '{{ currentPage }}'
            }

        </script>
        <script src="/vendor/ckeditor/ckeditor.js"></script>
        <script src="/js/admin.js"></script>
    {% endif %}


</head>
<body>

<div id="wrapper">

    <div id="sidebar-wrapper">
        {% include 'common/menu.html' %}
    </div>
    
    <div id="sidebar-hidden">
        <div id="openMenu">
            <img src="/img/Menu-icon.png" width="35px" style="margin-top: 5px;" onclick="opennew()">
            {#меню
            <img id="imgOpen" onclick="menuAction(0);" src="/img/arrow-open.png" width="35px">
            <img id="imgClose" onclick="menuAction(1);" src="/img/arrow-close.png" width="35px">#}
        </div>
    </div>
   
</div>

    {% if currentPage == 'main' %}
            {% include 'common/carousel.twig' %}
    {% endif %}
    
    <div class="container lead" {% if session.isAuth %}id="editable" contenteditable="true"{% endif %}>
        {% include 'editable/'~currentPage~'.html' %}
    </div>

    {#<div class="navbar-fixed-bottom navbar-inverse row-fluid">
          <div class="navbar-inner">
              <div class="container">
                  <div class="footer">
                      
                      <a href="/">На главную</a>
                  </div>
              </div>
          </div>
    </div>#}


</div>

</body>
</html>