{% extends "base.twig" %}

{% block pageTitle %}Главная страница{% endblock %}

{% block content %}

    <div class="jumbotron">
        Привет, Мир!
    </div>

    <div class="jumbotron">
        <div class="container">
            ...
        </div>
    </div>

{% endblock %}